@font-face {
    font-family: 'SuisseBold';
    src: url('../res/fonts/SuisseIntl-Bold.eot');
    src: url('../res/fonts/SuisseIntl-Bold.eot?#iefix') format('embedded-opentype'),
        url('../res/fonts/SuisseIntl-Bold.woff2') format('woff2'),
        url('../res/fonts/SuisseIntl-Bold.woff') format('woff'),
        url('../res/fonts/SuisseIntl-Bold.ttf') format('truetype'),
        url('../res/fonts/SuisseIntl-Bold.svg#SuisseIntl-Bold') format('svg');
}
@font-face {
    /*font-family: 'Suisse Int\'l';*/
    font-family: 'SuisseMed';
    src: url('../res/fonts/SuisseIntl-Medium.eot');
    src: url('../res/fonts/SuisseIntl-Medium.eot?#iefix') format('embedded-opentype'),
        url('../res/fonts/SuisseIntl-Medium.woff2') format('woff2'),
        url('../res/fonts/SuisseIntl-Medium.woff') format('woff'),
        url('../res/fonts/SuisseIntl-Medium.ttf') format('truetype'),
        url('../res/fonts/SuisseIntl-Medium.svg#SuisseIntl-Medium') format('svg');
}
@font-face {
    font-family: 'SuisseReg';
    src: url('../res/fonts/SuisseIntl-Regular.eot');
    src: url('../res/fonts/SuisseIntl-Regular.eot?#iefix') format('embedded-opentype'),
        url('../res/fonts/SuisseIntl-Regular.woff2') format('woff2'),
        url('../res/fonts/SuisseIntl-Regular.woff') format('woff'),
        url('../res/fonts/SuisseIntl-Regular.ttf') format('truetype'),
        url('../res/fonts/SuisseIntl-Regular.svg#SuisseIntl-Regular') format('svg');
}

/*https://coolors.co/7400b8-6930c3-5e60ce-5390d9-4ea8de-48bfe3-56cfe1-64dfdf-72efdd-80ffdb
https://coolors.co/6f2dbd-a663cc-b298dc-b8d0eb-b9faf8
#6930C3; #4EA8DE; #64DFDF; #5D6B83;  #282f3d
#6f2dbd; #a663cc; #b298dc; #b8d0eb; #b9faf8;*/ 
:root {
    --violet: #6f2dbd;
    --rosa: #a663cc;
    --lila:#b298dc;
    --blanco: #ffffff;
    --azul:#b9faf8;
    --gris: #282f3d;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, header, footer{
    max-width: 1440px;
  
}
body {
    font-family: 'SuisseReg';
    font-size: 1.1em;
    color: var(--blanco);
}
h1, h2, h3 {
	font-family: 'SuisseBold';
	font-size: 1.8em;
    margin: 0.7em 0;
}
header {
    padding: 7px;
    text-align: center;
    color: var(--blanco);
}
.main{
	min-height: 70vh;
}
.bg1{
    background-color: var(--violet);
}
.bg2{
    background-color: var(--azul);
    color: var(--rosa);
}
.buscar form {
	padding: 1.1em 0;
}
input.buscar{
	padding: 0.45em 1em;
	border-radius: 7px;
	border: solid 1px;
	border-color: var(--blanco);
	outline: none;
	font-size: 105%;
	font-family: inherit;
}
.buscar button{
	border: none;
	border-radius: 7px;
	height: 46px;
	width: 46px;
	outline: none;
	padding: 0;
}
button{
	background:var(--blanco); 
}
button:hover{
	background:var(--lila);
}
#name{
    color: #000000;
}
#genero{
    font-weight: bold;
}
#buscar-home{
    background:var(--azul);
    color:var(--violet);
    border-color: var(--blanco);
    font-style: bold;
    font-size: 120%;
}
footer {
    background-color: var(--azul);
}
.btn-rss {
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    text-indent: -9999px;
    margin: auto;
    width: 2em;
    height: 2em;
}
.fb {
    background-image: url(../res/img/icon/facebook.svg);
}

.inst {
    background-image: url(../res/img/icon/instagram.svg);
}

.youtube {
    background-image: url(../res/img/icon/youtube.svg);
}

/* ---Offline --- */

/*body.offline .offline-banner {
    transition: all 0.5s;
    margin: 0;
}
.st-offline{ 
    font-size: 115%;
    color: var(--rosa);
}
body:not(.offline) .offline-banner {
    height: 32px;
    margin-top: -32px;
    transition: all 0.5s;
    border:0;
}
body.offline .offline-banner {
    transition: all 0.5s;
    margin: 0;
}*/
.bienvenido{
    max-width: 600px;
}
#result div p{
    color: #000000;
}
#result a{
    color: var(--violet);
}
.library{
    background-color: var(--lila);
}
@media screen and (max-width: 575px) {
    .main{
        background-image: url(../res/img/bg-home-xs.jpg);    
        background-size:cover;
        background-position: top center;
        width: 100vw;
        height: calc(100vw * 0.46956522);
        max-width: 575px;
        max-height: 270px;
}
}
@media screen and (min-width: 576px) {    
      .main{
        background-image: url(../res/img/bg-home-sm.jpg);    
        background-size:cover;
        width: 100vw;
        height: calc(100vw * 0.46936115);
        max-width: 767px;
        max-height: 360px;
}
}
@media screen and (min-width: 768px) {
    .main{
        background-image: url(../res/img/bg-home-tabl.jpg);    
        background-size:cover;
        width: 100vw;
        height: calc(100vw * 0.46922301);
        max-width: 991px;
        max-height: 465px;
}
}
@media screen and (min-width: 992px) {
    .main{
        background-image: url(../res/img/bg-home-big.jpg);    
        background-size:cover;
        width: 100vw;
        height: calc(100vw * 0.46916667);
        max-width: 1199px;
        max-height: 563px;
}
}
@media screen and (min-width: 1200px) {
    .main{
        background-image: url(../res/img/bg-home-xl.jpg);    
        background-size:cover;
        width: 100vw;
        height: calc(100vw * 0.46951537);
        max-width: 1919px;
        max-height: 901px;
}
}